<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Endpoint Coverage Test Report - ${date}</title>
  <meta name="description" content="Endpoint Coverage Test Report">
  <meta name="author" content="Verimi Endpoint Coverage Test Report">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawTotalResults);
      google.charts.setOnLoadCallback(drawTotalFullyCoveredResult);
      <#list methodSummary?keys as key>
        google.charts.setOnLoadCallback(draw${key});
      </#list>

      function drawTotalResults() {
        var data = google.visualization.arrayToDataTable([
          ['Result', 'Coverage chart'],
          ['Missing', ${total}-${covered}],
          ['Covered', ${covered}]
        ]);
        var options = {
          title: 'Endpoint Coverage',
          slices: {
            0: { color: '#d14f4f' },
            1: { color: '#0d9570' }
          }
        };
        var chart = new google.visualization.PieChart(document.getElementById('coverage-pie'));
        chart.draw(data, options);
      }

      function drawTotalFullyCoveredResult() {
        var data = google.visualization.arrayToDataTable([
          ['Result', 'Hard Coverage chart'],
          ['Missing', ${total}-${covered}],
          ['Hard Covered', ${fully_covered}],
          ['Partially Covered', ${partially_covered}],
          ['Only Has Failures', ${only_has_failures}]
        ]);
        var options = {
          title: 'Hard Endpoint Coverage',
          slices: {
            0: { color: '#d14f4f' },
            1: { color: '#0d9570' },
            2: { color: '#ff9d00' },
            3: { color: '#994499' }
          }
        };
        var chart = new google.visualization.PieChart(document.getElementById('full-coverage-pie'));
        chart.draw(data, options);
      }

       <#list methodSummary?keys as key>
            function draw${key}() {
              var data = google.visualization.arrayToDataTable([
                ['Result', 'Number of tests'],
                ${methodSummary[key]}

          ]);
              var options = {
                title: '${key}',
                slices: {
                  0: { color: '#0d9570' },
                  1: { color: '#4f73d1' },
                  2: { color: '#d14f4f' }
                }
              };
              var chart = new google.visualization.PieChart(document.getElementById('pie-${key}'));
              chart.draw(data, options);
            }
        </#list>

      function hide_or_show_test_case_details(ep_index) {
        var checkbox = document.getElementById('toggle' + ep_index)
        var log_row = document.getElementById('details-' + ep_index)
        if (checkbox.checked) {
          log_row.style.display = 'table-row';
        } else {
          log_row.style.display = 'none';
        }
      }

      function hide_or_show_service_details(service_index) {
        var checkbox = document.getElementById('toggle' + service_index)
        var log_row = document.getElementById('details2-' + service_index)
        if (checkbox.checked) {
          log_row.style.display = 'table-row';
        } else {
          log_row.style.display = 'none';
        }
      }

  </script>
  <style>
#main-content {
  width: 1024px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 1.8em;
}

h2 {
  padding-left: 50px;
}

body {
  background-color: #f5f5f5;
  font-family: Proximanova,sans-serif;
}

table {
  border-collapse: collapse;
}

table.endpoints {
  margin: auto;
  width: 960px;
}

table.endpoints th, table.endpoints td {
  word-wrap: break-word;
  max-width: 525px;
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: left;
}

table.testcases {
  margin: auto;
  width: 100%;
}

table.testcases th {
  background-color: #C6C6C6;
  word-wrap: break-word;
  max-width: 900px;
  border: 1px solid #C6C6C6;
  padding: 10px;
  text-align: left;
}

table.testcases td {
  word-wrap: break-word;
  max-width: 900px;
}

.percentages {
    color: #c1c1c1
}

.summary_text {
    font-size: 150%
}

.overview-icon {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.covered {
  color: #0d9570;
}

.uncovered {
  color: #d14f4f;
}

.partiallycovered {
  color: #ff9d00;
}

.uncovered2 {
  color: #994499;
}

.pie-placeholder {
    clear: both;
}

.std-placeholder {
    padding-top: 30px;
}

.endpoints-total {
    font-size: 300%;
}

.test-main-pies {
  width: 500px;
  height: 500px;
  float: left;
}

.passed-icon, .failed-icon {
  font-size: 25px;
  display: inline-block;
}

fieldset {
    display: block;
    border:0px solid lightgrey;
    margin: 5px;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid lightgrey;
  font-size:90%;
  text-align:center;
}

/* folding trick start */
.fold {
	padding: 10px;
	width: 280px;
	height: 80px;
	color: #999;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
}

.placeholderClass {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 29px;
}

.unfolder { display: none; }

.toggle-label {
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px;
}

.unfold-icon, .fold-icon {
  color: #999;
  width: 10px;
  display: inline-block;
}

.unfolder ~ .fold {
  display: none;
}

.unfolder ~ label .fold-icon {
  display: none;
}

.unfolder:checked ~ .fold {
  display: block;
}

.unfolder:checked ~ label .fold-icon {
  display: inline-block;
}

.unfolder:checked ~ label .unfold-icon {
  display: none;
}

/* folding trick end */

a:link {
    color: #0d9570;
    text-decoration: none;
}

a:visited {
    color: #0d9570;
    text-decoration: none;
}

a:hover {
    color: #0d9570;
    text-decoration: underline;
}

/* basic information part */

.chart-percent-description {
    font-size: 26px;
    color: #909090;
}

.chart-percent-title {
    font-size: 40px;
    color: #505050;
}

.text-secondary {
    color: #707070;
    font-weight: normal;
    font-size: 11px;
    margin-top: 1em;
}

table.summary-table {
    margin: 0 auto;
    border: 0px;
    width: 100%;
    text-align: center;
}

table.summary-table th, table.summary-table td {
  word-wrap: break-word;
  padding: 10px;
}

<#function perc x y>
  <#return (x / y) * 100>
</#function>

.test-result-pies {
  width: 330px;
  height: 200px;
  float: left;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  margin: auto;
  width: 958px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #f5f5f5;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
  margin: auto;
  width: 960px;
}

</style>

</head>

<tr>
<div id="main-content">
  <h1>${test_environment} - Endpoint Coverage Report - ${datetime}</h1>
  <hr>

  <div style="padding-top: 20px;"></div>
    <table class="summary-table">
        <tr>
            <td>
                <div class="chart-percent-title">${perc(covered, total)?floor}%</div>
                <div class="chart-percent-description">covered</div>
                <div class="text-secondary">${missing_endpoints} / ${total} uncovered</div>
            </td>
            <td>
                <div class="chart-percent-title">${perc(fully_covered, total)?floor}%</div>
                <div class="chart-percent-description">hard covered</div>
                <div class="text-secondary">${partially_covered} / ${total} partially covered</div>
            </td>
        </tr>
    </table>

  <div id="coverage-pie" class="test-main-pies"></div>

  <div id="full-coverage-pie" class="test-main-pies"></div>

  <fieldset>
    <#list methodSummary?keys as key>
        <div id="pie-${key}" class="test-result-pies"></div>
    </#list>
  </fieldset>

  <div class="std-placeholder"></div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Endpoints')" id="defaultOpen">Endpoints</button>
        <button class="tablinks" onclick="openTab(event, 'Services')">Services</button>
    </div>

    <!-- Endpoints start -->

    <div id="Endpoints" class="tabcontent">

      <table class="endpoints">

          <col width="100%">
          <col width="1">

          <th>Endpoint name</th>
          <th style="">Covering level</th>

        <#list endpoints as ep>
          <#if ep.value.getNumber() == 0>
            <tr class="uncovered">
            <td class="placeholderClass">
          <#else>
            <#if ep.value.isHasOnlyFailure()>
              <tr class="uncovered2">
            <#elseif ep.value.isHasFailure()>
              <tr class="partiallycovered">
            <#else>
              <tr class="covered">
            </#if>
            <td class="truncate">
              <input type="checkbox" id="toggle${ep?index}" class="unfolder" onclick="hide_or_show_test_case_details(${ep?index})"/>
              <label for="toggle${ep?index}" class="toggle-label">
                <span class="unfold-icon">&#9654;</span>
                <span class="fold-icon">&#9660;</span>
          </#if>
                ${ep.key}
            </td>
            <td style="text-align: center;">
              <div>${ep.value.getNumber()}</div>
            </td>
          </tr>
          <tr id="details-${ep?index}">
            <td colspan="7">

                <table class="testcases">

                    <col width="100%">
                    <col width="1">
                    <col width="1">

                    <th>Related Test Case(s):</th>
                    <th>Bugs</th>
                    <th>Status</th>

                    <#list ep.value.getRelatedTestNames() as testName>
                        <#if testName??>
                            <tr><td>
                                ${testcases[testName].getTitle()}</div>
                            </td>
                            <td style="text-align: center;">
                                <#if testcases[testName].getBugs()??>
                                    <#list testcases[testName].getBugs() as bug>
                                        <a target="_blank" href="https://verimi.atlassian.net/browse/${bug}">${bug}</a><#sep>, </#sep>
                                    </#list>
                                </#if>
                            </td>
                            <td style="text-align: center;">
                                <#if testcases[testName].getResult() == 'Passed'>
                                    <div class="covered passed-icon">&#128505;</div>
                                <#else>
                                    <div class="uncovered failed-icon">&#128503;</div>
                                </#if>
                            </td></tr>
                        </#if>
                    </#list>

                </table>

            </td>
          </tr>
        </#list>
      </table>
    </div>

    <!-- Endpoints end -->

    <!-- Services start -->

<div id="Services" class="tabcontent">
    <table class="endpoints">

        <col width="100%">
        <col width="1">

        <th>Service name</th>
        <th style="">Covering level</th>

        <#list serviceSummary as service>
            <#assign coverPercentage = serviceCoverages[service.key]?number>
            <#if coverPercentage gte 80>
                <tr class="covered">
            <#elseif coverPercentage gte 40>
                <tr class="partiallycovered">
            <#else>
                <tr class="uncovered">
            </#if>
                <td class="truncate">
                    <input type="checkbox" id="toggle${service?index}" class="unfolder" onclick="hide_or_show_service_details(${service?index})"/>
                    <label for="toggle${service?index}" class="toggle-label">
                        <span class="unfold-icon">&#9654;</span>
                        <span class="fold-icon">&#9660;</span>
                        ${service.key}
                </td>
                <td style="text-align: center;">
                    <div>${serviceCoverages[service.key]}</div>
                </td>
            </tr>
            <tr id="details2-${service?index}">
                <td colspan="7">

                    <table class="testcases">

                        <col width="100%">

                        <th>Endpoint(s):</th>

                        <#list service.value?keys as key>
                            <#if key??>
                                <#if service.value[key] == 2>
                                    <tr class="uncovered">
                                 <#else>
                                    <tr class="covered">
                                </#if>
                                    <td>
                                    ${key}
                            </#if>
                        </#list>
                    </table>
                </td>
            </tr>
        </#list>
    </table>
</div>

    <!-- Services end -->

<div class="std-placeholder"></div>

<script type="text/javascript">
  for (ep_index=0; ep_index<${endpoints?size}; ++ep_index) {
    document.getElementById('details-' + ep_index).style.display = 'none';
  }
  for (ep_index=0; ep_index<${serviceSummary?size}; ++ep_index) {
    document.getElementById('details2-' + ep_index).style.display = 'none';
  }
</script>

<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</div>
</body>
</html>